# Ignore all
*

# Allow this file
!.gitignore

# Allow mambas, tests, examples and assets folder
!mambas
!mambas/**
!tests
!tests/**
!examples
!examples/**
!assets
!assets/**

# Ignore Mambas database file
mambas/server/resources/database.db

# Ignore all __pycache__ directories
__pycache__/

# Allow setup.py file
!setup.py

# Allow requirements.txt file
!requirements.txt

# Allow .travis.yml file
!.travis.yml

# Allow README.md file
!README.md

# Allow MANIFEST.in file
!MANIFEST.in