tr.clickable-row:hover {
    cursor: pointer;
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 2000ms linear infinite;
}

.sidebar .navbar {
    margin-bottom: 0;
}

.sidebar .nav {
    margin-top: 0;
}

@keyframes to-left {
    to {width: 0;}
}

@keyframes to-right {
    to {width: 100%;}
}

.toggle-on {
    animation: to-left 1000ms linear;
}

.toggle-off {
    animation: to-right 1000ms linear;
}

.footer ul li .btn {
    margin: 0.3125rem 1px;
}

.footer ul li .version {
    color: inherit;
    padding: .9375rem;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #999999;
}