tr.clickable-row:hover {
    cursor: pointer;
}

@-moz-keyframes spin {
    to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
    to {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    to {transform:rotate(360deg);}
}

.spin {
    animation: spin 2000ms linear infinite;
}

.sidebar .navbar {
    margin-bottom: 0;
}

.sidebar .nav {
    margin-top: 0;
}

.footer ul li .btn {
    margin: 0.3125rem 1px;
}

.footer ul li .version {
    color: inherit;
    padding: .9375rem;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #999999;
}

.btn-toggle input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.btn-toggle .icons i {
    -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.btn-toggle .icons i:last-child {
    opacity: 0;
    visibility: hidden;
}

.btn-toggle .icons.checked i:first-child {
    opacity: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.btn-toggle .icons.checked i:last-child {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}