% include(header_path)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card p-30">
                <div class="media">
                    <div class="media-left meida media-middle">
                        <span><i class="fa fa-repeat f-s-40 color-primary"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>EMPTY</h2>
                        <p class="m-b-0">Total sessions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

% include(footer_path)