% include(header_path)

<div class="content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">{{ title }}</h3>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">apps</i>
                </div>
                <p class="card-category">Total Projects</p>
                <h3 class="card-title">{{ number_projects }}</h3>
                </div>
                <br>
            </div>
            </div>
            <div class="col-md-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-spinner"></i>
                </div>
                <p class="card-category">Running Sessions</p>
                <h3 class="card-title">{{ number_running_sessions }}</h3>
                </div>
                <br>
            </div>
            </div>
            <div class="col-md-4 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">favorite</i>
                </div>
                <p class="card-category">Favorite Sessions</p>
                <h3 class="card-title">{{ number_projects }}</h3>
                </div>
                <br>
            </div>
            </div>
        </div>
    </div>
</div>

% include(footer_path)