% include(header_path)

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                    <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Simple Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Start date</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        % for session in list_sessions:
                        <tr>
                            <th class="text-center">{{ session['index'] }}</th>
                            <td>{{ session['start_date'] }}</td>
                            <td>
                                % if 'duration' in session.keys():
                                {{ session['duration'] }}
                                % else:
                                -
                                % end
                            </td>
                            <td>
                                % if session['is_active']:
                                <span class="badge badge-primary">Running</span>
                                % else:
                                <span class="badge badge-success">Finished</span>
                                % end
                            </td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-danger btn-link" data-original-title="" title="" onclick="mambas.showDelete()">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        % end
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

% include(footer_path)