% include(header_path)

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                    <i class="material-icons">view_list</i>
                    </div>
                    <h4 class="card-title">Sessions</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Start date</th>
                            <th>Duration</th>
                            <th>Host</th>
                            <th>Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        % for session in list_sessions:
                        <tr class="clickable-row" data-href="sessions/{{ session['id'] }}">
                            <th class="text-center">{{ session['index'] }}</th>
                            <td>{{ session['start_date'] }}</td>
                            <td>
                                % if 'duration' in session.keys():
                                {{ session['duration'] }}
                                % else:
                                -
                                % end
                            </td>
                            <td>
                                {{ session['host'] }}
                            </td>
                            <td>
                                % if session['is_active']:
                                <i class="fa fa-spinner spin" rel="tooltip" title="Running"></i>
                                % else:
                                <i class="material-icons text-success" rel="tooltip" title="Finished">check</i>
                                % end
                            </td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-link btn-just-icon" title="Delete Session {{ session['session_name'] }}" onclick="mambas.deleteSession(&quot;{{ session['session_name'] }}&quot;, &quot;{{ session['id_project'] }}&quot;, &quot;{{ session['id'] }}&quot;)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                        % end
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

% include(footer_path)
